@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

header {
    height: 79px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    width: 20%;
    height: 19px;
    margin-top: 20px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px 25px;
    margin: 0px 10px;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    gap: 68px;
}

.menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;

}

a {
    text-decoration: none;
    color: black;
}

header a:hover {
    color: #0065FC;
    border-top: 2px blue solid;
}

header a:focus {
    color: #0065FC;
}

h1 {
    margin-top: 50px;
    font-weight: bold;
    font-size: 23px;
    word-spacing: normal;
    text-align: left;
}

.sous-titre {
    font-size: 15px;
    word-spacing: normal;
    line-height: 0.1px;

}

.search-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 15px;
    margin-top: 30px;

}

.texte-search-bar {
    display: flex;
    border: white;
    font-weight: bold;
    font-size: medium;
    color: black;
    width: 13%;
    height: 50px;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    border-right: solid #F2F2F2 1px;
    padding-left: 15px;
}

.bouton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    width: 10%;
    height: 50px;
    border-radius: 0px 15px 15px 0px;
    font-size: medium;
    font-weight: bold;
    border: none;


}

.search-bar #location-dot {
    height: 50px;
    width: 50px;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loupe-icone {
    display: none;
    width: 10%;
    height: 49px;
    border: 1px solid;
    border-radius: 0px 15px 15px 0px;
    background-color: blue;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}



.filtres {
    margin-top: 50px;
    font-weight: bold;
    font-size: 18px;
    display: flex;

}

.filtre {
    border-radius: 25px;
    padding: 15px;
    border: solid 1px #d9d9d9;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: normal;
    display: flex;

}

.namefiltre {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 75px;
    margin-left: 20px;
}

.filtre:hover {
    background-color: #DEEBFF;
}

.info-bar i {
    border: solid #d9d9d9 1px;
    border-radius: 50%;
    width: 2%;
    height: 22px;
    text-align: center;
}

.info-bar {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 15px;
    word-spacing: normal;
}

/*section2*/

.section-title {
    margin: 0;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    margin-top: auto;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
#hebergements {
    width: 65%;
    height: 680px;
}


.hebergement .card {
    background-color: white;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 30%;
    height: 218px;
    padding: 5px;
    margin-top: 32px;
}

.hebergement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    margin-top: 1px;
}

.hebergement img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 115px;
    object-fit: cover;
}

.hebergement .card-title {
    margin-top: 5px;
    margin-left: 5px;
}

.hebergement .card-subtitle {
    margin-left: 5px;
    font-size: 14px;
}

.hebergement .card-rating {
    margin-left: 7px;
}

.hebergement .neutral-star {
    color: #DEEBFF;
}

#hebergements .more {
    font-weight: bold;
    display: flex;
    padding-top: 3%;


}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/*card activites*/
#activites-marseille {
    margin-top: 75px;
}

#activites-marseille .section-title {
    font-size: 22px;
}

.activity img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.activity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.card-activity {
    width: 22%;
    padding: 0px;
    border: solid white;
    border-radius: 20px;
    box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1);
}


.activity .card-title {
    margin-top: 10px;
    margin-left: 10px;
}

/* footer*/
footer {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f2f2f2;


}

.footer-block {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    gap: 10px;
    width: 50%;
}

.footer-block p {
    font-weight: bold;
    font-size: 18px;
}





/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .body {
        margin: 0;
    }

    .search-bar {
        margin-top: 60px;
        width: 100%;
        border-radius: 15px;
    }

    .filtres {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .namefiltre {
        margin-left: 0px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    #hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activity {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-content: space-around;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        margin: 0px;
    }

    .main-container {
        padding: 0px;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-items: stretch;
        align-items: center;
        width: 100%;
        height: fit-content;
    }

    .logo img {
        width: 61px;
    }

    .menu {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .menu ul {
        width: 100%;
        padding: 0%;
        gap: 0%;
        justify-content: space-evenly;
    }

    .menu li {
        width: 50%;
        text-align: center;
        border-top: none;
        border-bottom: solid #F2F2F2;
    }

    .menu li:hover {
        border-bottom: solid #0065fc;
    }

    .menu li:hover a {
        border-top: none;
        color: #0065fc;
    }
   

    #loupe-icone {
        margin-left: -15px;
        display: flex;
        width: 18%;
        border-radius: 15px;
        color: #d9d9d9;

    }
    .search-bar {
        margin-top: 50px;
        width: 80%;
        border-radius: 15px;
    }

    form .texte-search-bar {
        width:60%;
    }

    .searchicon {
        color: white;
        justify-content: center;
    }

    .bouton {
        display: none;
    }

    .encars {
        margin: 15px;
    }

    .encars H1 {
        font-size: 20px;
        margin-top: 28px;
    }

    .encars .sous-titre {
        font-size: 13px;
    }

    
    .filtres {
        display: flex;
        margin-top: 40px;
    }

    .namefiltre {
        height: 120px;
        margin-top: 20px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .filtre {
        font-size: small;
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .info-bar {
        margin-top: 50px;
        display: flex;
        justify-content: flex-start;
        font-size: 15px;
    }

    .info-bar i {
        width: 4%;
    }

    /** Section Hebergement - populaires**/
    .hebergements-and-populaires section {
        border-radius: 0%;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
    }

    .populaires {
        width: 100%;
        margin-top: 10px;
        border-radius: 0px;
        padding: 0;


    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .populaires .card {
        width: 100%;
    }

    #hebergements {
        width: 100%;
        height: 1000px;
        background-color: white;
    }

    #hebergements .section-title {
        font-size: 19px;

    }

    #hebergements .hebergement {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .hebergement .card {
        width: 100%;
    }

    .more {
        font-size: 16px;
        margin-top: 20px;

    }

    /** Section activités **/
    #activites-marseille .section-title {
        margin-top: 800px;
        font-size: 20px;
        margin-left: 30px;
    }

    .activity {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 100%;
        max-width: 583px;
    }

    .activity .card-activity {
        width: 80%;
        border-radius: 20px;
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    }

    .card-activity img {
        height: 124px;
        min-height: min-content !important;
    }

    .activity .card-title {
        font-size: 18px;
    }


    /**footer**/
    footer {
        max-height: fit-content;
        max-width: 100%;
        flex-direction: column;
    }

    .footer-block {
        justify-content: center;
    }

}